[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pysimplegui = "*"
geopy = "*"
urllib = "*"
csv = "*"
json = "*"
os = "*"
webbrowser = "*"
datetime = "*"

[requires]
python_version = "3.7"
